<!DOCTYPE html>
<meta charset="UTF-8" />
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
{% endblock %}
{% block title %}
    SHOW NOTE
{% endblock %}

{% block body %}

    {{ content|raw }}

{% endblock %}


<a href="{{ path('user_blocnote_default_report', { 'id': user }) }}">Rapporter un contenu frauduleux</a>


{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice')|raw }}
    </div>
{% endif %}