<!DOCTYPE html>
<meta charset="UTF-8" />
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
{% endblock %}
<form method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    <input type="submit" />
</form>