<form method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    <input type="submit" />
</form>


<a href="{{ path('user_user_course_upload', { 'classId': classroomId }) }}">
    <input type="submit" value="Add a course to this classroom"/>
</a>