{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}DG - Welcome{% endblock %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <div class="container">
      <div id="header" class="hero-unit">
	  <h1>Digital Teacher</h1>
	  </div>
	  <div class="row">
        <div id="menu" class="span3">
          <ul class="nav nav-pills nav-stacked">
            <a href="{{path("fos_user_security_login")}}" class="sf-button sf-button-selected"></li>
                 <span class="btn btn-primary btn-large"">Login</span><br/><br/>
			</a>
			<a href="{{ path('fos_user_registration_register') }}" class="sf-button sf-button-selected">
				<span class="btn-bg">inscription</span>
            </a>
		</div>
       </div>
    </div>
{% endblock %}
